input[type="text"]:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
textarea:focus {
  outline: none;
}
.main {
  padding: 0;
  margin: 0;
}
.content-wrapper {
  max-width: 1280px;
}
@media (max-width: 768px) {
  .content-wrapper {
    padding: 0 15px;
  }
}
@media (min-width: 769px) {
  .content-wrapper {
    padding: 0 30px;
  }
}
.breadcrumbs {
  height: 50px;
  background-color: #e5ecf5;
}
.breadcrumbs li {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  display: inline-block;
  list-style: none;
  line-height: 50px;
}
.breadcrumbs li a {
  color: #999999;
}
.breadcrumbs li:not(:last-child) a {
  margin-right: 16px;
}
.breadcrumbs li:not(:last-child) {
  margin-right: 10px;
  background-image: url(../img/breadcrumb__arrow.png);
  background-position: center right;
  background-repeat: no-repeat;
}
.header__top {
  line-height: 60px;
  height: 60px;
}
.header__top__logo {
  padding-left: 0;
}
.header__top__info {
  padding-right: 0;
}
.header__top__info__fb {
  text-align: right;
}
.header__top__info__fb img {
  margin-top: -3px;
  padding-right: 4px;
}
.header__top__info__fb p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #004899;
  display: inline-block;
  line-height: 60px;
  margin-bottom: 0px;
}
.header__top__info__fb a:link {
  text-decoration: none;
}
.header__top__info__contacts {
  text-align: right;
  padding-right: 0;
}
.header__top__info__contacts p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #4c4c4c;
  margin-bottom: 0px;
  display: inline-block;
}
.header__top__info__contacts p:nth-child(2) {
  margin-left: 20px;
}
.header__top__info__contacts a:link {
  text-decoration: none;
  color: #4c4c4c;
}
.header__top__buttons {
  text-align: right;
  padding-right: 0;
}
.header__top__buttons img:nth-child(2) {
  padding-left: 40px;
}
@media (max-width: 480px) {
  .header__top__buttons {
    text-align: right;
  }
  .header__top__buttons img:nth-child(2) {
    padding-left: 30px;
  }
}
@media (max-width: 480px) {
  .header__top .row {
    width: 100vw;
  }
}
.header__menu {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #004899;
}
.header__menu nav {
  min-height: 60px;
}
@media (max-width: 768px) {
  .header__menu nav {
    min-height: 40px;
  }
}
.header__menu nav li {
  cursor: pointer;
  padding: 0 20px;
  line-height: 60px;
  display: inline-block;
}
@media (max-width: 802px) {
  .header__menu nav li {
    padding: 0 10px;
  }
}
@media (max-width: 768px) {
  .header__menu nav li {
    padding: 0 5px;
    margin-right: 20px;
  }
}
@media (max-width: 625px) {
  .header__menu nav li {
    padding: 0 20px;
  }
}
@media (max-width: 480px) {
  .header__menu nav li {
    padding: 0 0;
    margin-right: 10px;
    line-height: 10px;
  }
}
.header__menu nav li a {
  line-height: 60px;
  height: 60px;
  width: 100%;
  color: #ffffff;
}
@media (max-width: 768px) {
  .header__menu nav li a {
    line-height: 40px;
  }
}
@media (max-width: 480px) {
  .header__menu nav li a {
    line-height: 40px;
  }
}
.header__menu nav li a:hover {
  text-decoration: none;
}
.header__menu nav li:nth-child(1) {
  margin-left: 0;
}
.header__menu nav li:hover {
  background-color: #2260a7;
}
.header__menu nav li:active,
.header__menu nav li:focus {
  background-color: #003d82;
}
.header__menu__stable nav {
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 768px) {
  .header__menu__stable {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .header__menu__stable {
    text-align: center;
  }
}
.header__menu__search {
  line-height: 60px;
  height: 60px;
  text-align: right;
  padding-right: 35px;
}
.header__menu__hamburger {
  padding-left: 0 !important;
}
.header__menu__hamburger:hover {
  background-color: inherit !important;
}
.header__menu__hamburger:hover ~ .header__menu__dropdown {
  margin-top: 0px;
}
.header__menu__dropdown {
  display: none;
}
.header__menu__dropdown input[type="text"] {
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: #ffffff;
  padding-left: 40px;
  background-color: #004899;
  background-image: url(../img/dropdown__search.png);
  background-position: center left;
  background-repeat: no-repeat;
  border-style: none;
  border-bottom: 1px solid #80a4cc;
  width: 100%;
  height: 50px;
}
.header__menu__dropdown input[type="text"]::-webkit-input-placeholder {
  color: #ffffff;
}
.header__menu__dropdown input[type="text"]::-moz-placeholder {
  color: #ffffff;
}
.header__menu__dropdown input[type="text"]:-moz-placeholder {
  color: #ffffff;
}
.header__menu__dropdown input[type="text"]:-ms-input-placeholder {
  color: #ffffff;
}
.header__menu__dropdown__close {
  position: absolute;
  right: 0;
}
.header__menu__dropdown__catalog h4 {
  clear: both;
  padding-bottom: 25px;
  text-transform: none;
  margin: 0;
  margin-top: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 25px;
  border-bottom: 1px solid #80a4cc;
  margin-bottom: 20px;
}
.header__menu__dropdown__catalog > div {
  padding: 0;
}
.header__menu__dropdown__catalog ul {
  padding: 0px;
  padding-right: 20px;
  margin-bottom: 50px;
}
.header__menu__dropdown__catalog ul li {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: none;
  font-size: 18px;
}
.header__menu__dropdown__catalog ul li a {
  color: #ffffff;
}
.header__menu__dropdown__catalog ul li:not(:last-child) {
  margin-bottom: 30px;
}
.header__menu__dropdown__catalog ul .li__header {
  text-transform: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.header__menu__dropdown__catalog ul .li__header a {
  font-size: 18px;
  color: #ffffff;
}
.content {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.content__typical__title {
  padding-left: 0;
}
.content__typical__title h1 {
  font-weight: 300;
  font-size: 42px;
}
.content__typical__title time {
  font-size: 12px;
  color: #999;
}
.content__typical__text {
  padding-left: 0;
  margin-right: 100px;
}
.content__typical__text p {
  margin: 15px 0 35px 0;
}
.content__typical__text p:nth-child(1) {
  font-size: 18px;
  margin-bottom: 20px;
}
.content__typical__text img {
  width: 100%;
}
.content__typical__text ol {
  padding-left: 15px;
}
.content__typical__text li {
  margin-bottom: 15px;
}
.content__typical__text table {
  margin-bottom: 40px;
}
.content__typical__text table tr td:nth-child(1) {
  padding-right: 15px;
}
.content__typical__text table tr:nth-child(1) {
  margin-bottom: 50px;
}
.content__typical__text table tr:nth-child(odd) {
  border-bottom: 1px solid #ccc;
}
.content__typical__text table td {
  padding-right: 15px;
  padding-bottom: 20px;
}
.content__typical__text table tr:nth-child(even) td {
  padding-top: 10px;
}
.content__typical__text blockquote {
  background-color: #f2f5fa;
  padding: 20px;
  border-left: none;
}
.content__typical__text blockquote h3 {
  font-size: 18px;
  color: #f9a825;
  margin-top: 10px;
}
.content__typical__text blockquote p {
  font-size: 14px;
  margin-bottom: 10px;
}
.content__typical__rightnav {
  margin-top: 20px;
  padding-left: 0;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}
.content__typical__rightnav .list-group-item {
  border: 1px solid #e5ecf5;
  padding: 20px 10px;
  border-radius: 0px;
}
.content__typical__rightnav .list-group-item .fa {
  padding-left: 10px;
}
.content__typical__rightnav .content__left-nav .list-group-submenu {
  margin-left: 0;
}
.content__typical__rightnav a.list-group-item-success,
.content__typical__rightnav button.list-group-item-success {
  color: #000;
}
.content__typical__rightnav .list-group-item-success {
  color: #000;
  background-color: transparent;
}
.content__typical__rightnav a.list-group-item-success:focus,
.content__typical__rightnav a.list-group-item-success:hover,
.content__typical__rightnav button.list-group-item-success:focus,
.content__typical__rightnav button.list-group-item-success:hover {
  color: #004899;
  background-color: #f6f8fc;
}
.content__typical__rightnav a.list-group-item:focus,
.content__typical__rightnav a.list-group-item:hover,
.content__typical__rightnav button.list-group-item:focus,
.content__typical__rightnav button.list-group-item:hover {
  color: #004899;
  text-decoration: none;
  background-color: #f6f8fc;
}
.content__contacts h1 {
  font-size: 42px;
  font-weight: 300;
  margin: 40px 0;
}
.content__contacts__item {
  padding-right: 0;
  margin-bottom: 50px;
  padding-left: 0;
}
.content__contacts__item__name {
  padding-left: 0;
  padding-right: 0;
}
.content__contacts__item__name h2 {
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 40px;
  margin-top: 30px;
}
.content__contacts__item__descr {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
}
.content__contacts__item__descr__key {
  padding-left: 0;
  display: inline-block;
  min-width: 25%;
  vertical-align: top;
  color: #ea6d62;
}
@media (max-width: 480px) {
  .content__contacts__item__descr__key {
    width: 30vw;
  }
}
.content__contacts__item__descr__value {
  display: inline-block;
  width: 70%;
  padding-right: 0;
  /* making 24/7 tech support button */
}
.content__contacts__item__descr__value p {
  display: inline-block;
}
.content__contacts__item__descr__value #alldayhelp {
  background-color: #004899;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
  display: inline-block;
  padding: 0 5px;
}
@media (max-width: 480px) {
  .content__contacts__item__descr__value {
    width: 45vw;
  }
}
.content__contacts__item__map {
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
  text-align: right;
}
@media (max-width: 768px) {
  .content__contacts__item__map {
    text-align: left;
  }
}
.content__contacts__item__map .blackcube {
  display: inline-block;
  width: 100%;
  height: 250px;
  border: 1px solid black;
  background-color: grey;
}
.content__news-one__main {
  padding-left: 0;
  margin-right: 100px;
}
.content__news-one__main__title {
  padding-left: 0;
}
.content__news-one__main__title h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 42px;
}
.content__news-one__main__title__item {
  margin-bottom: 20px;
  padding: 0px;
  display: table;
}
.content__news-one__main__title__item__date {
  display: inline-block;
  font-family: 'Roboto Light', sans-serif;
  font-size: 12px !important;
  color: #999999 !important;
  line-height: 15px;
  margin-right: 20px !important;
}
.content__news-one__main__title__item__tags {
  background-color: red;
  display: inline-block;
  font-size: 10px !important;
  font-family: 'Roboto Light', sans-serif;
  text-transform: uppercase;
  line-height: 15px;
  padding: 0 5px;
  border-radius: 5px;
  margin-right: 7px !important;
}
.content__news-one__main__title__item .red {
  color: #e61e2a;
  background-color: #faeaeb;
}
.content__news-one__main__title__item .green {
  color: #198622;
  background-color: #e8f2da;
}
.content__news-one__main__title__item .blue {
  color: #0c55a3;
  background-color: #e2ebf4;
}
.content__news-one__main__title__item .purple {
  color: #70485a;
  background-color: #eae4e6;
}
.content__news-one__main__title__item .orange {
  color: #eb5c2c;
  background-color: #fef2e5;
}
.content__news-one__main__text {
  padding-left: 0;
  padding-right: 0;
}
.content__news-one__main__text p {
  font-size: 14px;
}
.content__news-one__main__text__img {
  margin-top: 25px;
  margin-bottom: 35px;
}
.content__news-one__main__text__img p {
  width: 80%;
  text-align: center;
  margin: auto;
  font-size: 12px;
}
.content__news-one__main__text__img img {
  width: 100%;
}
.content__news-one__main__quote {
  background-color: #f2f5fa;
  padding: 20px;
}
.content__news-one__main__quote h4 {
  font-size: 18px;
  color: #f9a825;
}
.content__news-one__main__quote p {
  font-size: 14px;
}
.content__news-one__used {
  border: 1px solid #e5ecf5;
  padding: 30px 20px;
}
.content__news-one__used h4 {
  font-size: 18px;
  font-weight: 300;
}
.content__news-one__used a {
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid;
  border-bottom-color: rgba(178, 178, 178, 0.3);
}
.content__news-one__used a:link {
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid;
  border-bottom-color: rgba(178, 178, 178, 0.3);
}
.content__news-one__used p {
  font-size: 14px;
  font-weight: 300;
  color: #808080;
}
.content__news-one__other-news {
  padding-top: 50px;
}
.content__news-one__other-news figure {
  text-align: left;
}
.content__news-one__other-news figcaption {
  text-align: left;
}
.content__news-one__other-news figcaption h5 {
  margin-top: 18px;
  line-height: 2;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.content__news-one__other-news__prev {
  text-align: left;
}
.content__news-one__other-news__prev__nav {
  padding-bottom: 20px;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  left: 0;
  top: 170px;
}
.content__news-one__other-news__prev__nav p {
  position: relative;
  text-align: left;
  margin-bottom: 0;
}
.content__news-one__other-news__prev__item {
  font-size: 12px;
  font-weight: 300;
}
.content__news-one__other-news__prev__item h5 {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
}
.content__news-one__other-news__next {
  text-align: left;
}
.content__news-one__other-news__next__nav {
  padding-bottom: 5px;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  right: 0;
  bottom: 0;
  position: absolute;
}
.content__news-one__other-news__next__nav p {
  position: relative;
  text-align: right;
  margin-bottom: 0;
}
.content__news-one__other-news__next__item {
  font-size: 12px;
  font-weight: 300;
}
.content__news-one__other-news__next__item h5 {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
}
.content__other_companies {
  margin-top: 30px;
}
.content__other_companies__nav {
  padding-left: 0;
  padding-right: 0;
  font-size: 12px;
  font-family: Arial, sans-serif;
}
.content__other_companies__nav:nth-child(4) {
  text-align: right;
}
.content__other_companies__name {
  padding-left: 0;
  padding-right: 0;
}
.content__other_companies__name h5 {
  text-transform: uppercase;
  margin: 0;
}
.content__other_companies__name:nth-child(3) {
  text-align: right;
}
.content__company-one {
  margin-bottom: 60px;
}
.content__company-one h1 {
  font-size: 42px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 35px;
}
.content__company-one h2 {
  font-size: 25px;
  font-weight: 300;
  margin-right: 45px;
  display: inline;
}
.content__company-one__nav {
  text-align: right;
}
.content__company-one__history {
  margin-top: 40px;
  margin-right: 100px;
  padding-left: 0;
  padding-right: 0;
}
.content__company-one__history p {
  font-size: 14px;
}
.content__company-one__history h5 {
  font-size: 14px;
  font-weight: 700;
}
.content__company-one__about {
  margin-top: 40px;
  padding-left: 0;
}
.content__company-one__about__quotetext {
  margin-bottom: 25px;
}
.content__company-one__about__quotetext p {
  font-size: 18px;
}
.content__company-one__about__quoteauthor h5 {
  font-size: 14px;
  font-weight: 700;
  margin-top: 35px;
}
.content__company-one__about__quoteauthor p {
  font-size: 14px;
}
.content__company-one__about__quoteauthor img {
  vertical-align: bottom;
  display: inline-block;
}
.content__company-one__about__quoteauthor__job {
  display: inline-block;
  width: 50%;
}
.content__company-one__about__docs {
  border: 1px solid #e5ecf5;
  padding: 5px 20px 10px 20px;
  margin: 20px 0px;
}
.content__company-one__about__docs .pdftype {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  background-color: #d70a0a;
}
.content__company-one__about__docs h5 {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.content__company-one__about__docs p {
  font-size: 12px;
  color: #808080;
}
.content__company-one__about__docs a:link {
  font-size: 14px;
  text-decoration: none;
  color: #004899;
  border-bottom: 1px solid;
  border-bottom-color: rgba(204, 218, 235, 0.3);
}
.content__left-nav {
  margin-top: 20px;
  padding-left: 0;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}
.content__left-nav .list-group-item {
  border: 1px solid #e5ecf5;
  padding: 20px 10px;
  border-radius: 0px;
}
.content__left-nav .list-group-item .fa {
  padding-left: 10px;
}
.content__left-nav .content__left-nav .list-group-submenu {
  margin-left: 0;
}
.content__left-nav a.list-group-item-success,
.content__left-nav button.list-group-item-success {
  color: #000;
}
.content__left-nav .list-group-item-success {
  color: #000;
  background-color: transparent;
}
.content__left-nav a.list-group-item-success:focus,
.content__left-nav a.list-group-item-success:hover,
.content__left-nav button.list-group-item-success:focus,
.content__left-nav button.list-group-item-success:hover {
  color: #004899;
  background-color: #f6f8fc;
}
.content__left-nav a.list-group-item:focus,
.content__left-nav a.list-group-item:hover,
.content__left-nav button.list-group-item:focus,
.content__left-nav button.list-group-item:hover {
  color: #004899;
  text-decoration: none;
  background-color: #f6f8fc;
}
.content__descr {
  font-family: 'Roboto';
}
.content__descr h1 {
  font-size: 42px;
  font-weight: 300;
}
.content__descr__main-params h3 {
  font-size: 18px;
  font-weight: 700;
}
.content__descr__main-params__name {
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  margin-right: 95px;
}
.content__descr__main-params__value {
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
}
.content__descr__img__main img {
  width: 100%;
}
.content__descr__img__main__text {
  font-size: 12px;
  font-weight: 300;
  background-color: #e5ecf5;
  padding: 30px 20px;
}
.content__descr__img__secondary {
  font-size: 13px;
}
.content__descr__img__secondary__item {
  text-align: left;
  display: inline-block;
  width: 48%;
  border: 1px solid #e5ecf5;
  margin: 10px 20px 10px 0;
}
.content__descr__img__secondary__item img {
  float: left;
  margin-right: 17px;
}
.content__descr__img__secondary__item .caption {
  margin-top: 20px;
}
.content__descr__img__secondary__item:nth-child(2),
.content__descr__img__secondary__item:nth-child(4) {
  margin: 10px 0;
}
.content__descr__img__secondary__item:hover {
  border: 1px solid #7fa3cc;
}
.content__descr__text {
  font-size: 14px;
  font-weight: 300;
  color: #666;
}
.content__form {
  box-shadow: 0px 18px 36px -12px rgba(0, 20, 43, 0.3);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 0;
  margin-top: 20px;
  border: 1px solid #e5ecf5;
}
.content__form h4 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 15px;
}
.content__form p {
  font-size: 14px;
  color: #666;
  margin: 0;
  margin-bottom: 25px;
}
.content__form textarea {
  padding: 20px;
  border: 1px solid #e5ecf5;
  width: 100%;
  height: 170px;
  font-size: 16px;
  background-color: #fafbfd;
  resize: none;
  margin-bottom: 10px;
}
.content__form textarea:focus {
  outline: none;
}
.content__form input[type="text"] {
  font-size: 16px;
  color: #5c6875;
  padding-left: 20px;
  width: 100%;
  height: 50px;
  border: 1px solid #e5ecf5;
  background-color: #fafbfd;
  margin-bottom: 35px;
}
.content__form #test {
  width: 40%;
}
.content__form label {
  margin-left: 10px;
  margin-right: 22px;
  font-weight: 300;
}
.content__form__content {
  padding: 0 20px;
  padding-top: 25px;
  font-weight: 300;
}
.content__form__button {
  padding: 0;
  padding-left: 25px;
  padding-top: 20px;
  height: 110px;
  background-color: #e5ecf5;
}
.content__form__button input[type="submit"] {
  height: 50px;
  width: 160px;
  border-radius: 50px;
  border: 1px solid #a0bad9;
  background-color: #e5ecf5;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #004899;
  text-transform: uppercase;
}
.content__rightbar__producer {
  border: 1px solid #e5ecf5;
  margin: 20px 0;
}
.content__rightbar__producer__info {
  padding: 5px 20px 10px 20px;
}
.content__rightbar__producer__info h5 {
  font-size: 14px;
  font-weight: 700;
}
.content__rightbar__producer__info a:link {
  text-decoration: none;
  color: #004899;
  border-bottom: 1px solid;
  border-bottom-color: rgba(204, 218, 235, 0.3);
}
.content__rightbar__producer__info p {
  font-size: 12px;
  font-weight: 300;
  margin: 15px 0;
}
.content__rightbar__producer__info span {
  font-size: 14px;
  margin-right: 17px;
  font-weight: 300;
}
.content__rightbar__producer__contacts {
  padding: 5px 20px;
  background-color: #eae4e6;
}
.content__rightbar__producer__contacts a:link {
  text-decoration: none;
  color: #004899;
  border-bottom: 1px solid;
  border-bottom-color: rgba(204, 218, 235, 0.3);
}
.content__rightbar__producer__contacts__tel {
  font-size: 18px;
  font-weight: 300;
}
.content__rightbar__producer__contacts__email {
  font-size: 14px;
  font-weight: 300;
}
.content__rightbar__producer__contacts a {
  font-size: 14px;
  font-weight: 300;
}
.content__rightbar__producer .kdz {
  background-color: #faeaeb;
}
.content__rightbar__docs {
  border: 1px solid #e5ecf5;
  padding: 5px 20px 10px 20px;
  margin: 20px 0px;
}
.content__rightbar__docs h5 {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.content__rightbar__docs a:link {
  text-decoration: none;
  color: #004899;
  border-bottom: 1px solid;
  border-bottom-color: rgba(204, 218, 235, 0.3);
}
.content__rightbar__docs__name {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 1px;
}
.content__rightbar__docs__name .doctype {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  background-color: #2a5696;
}
.content__rightbar__docs__name .ppttype {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  background-color: #d04424;
}
.content__rightbar__docs__name .exltype {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  background-color: #1d7044;
}
.content__rightbar__docs__name .pdftype {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  background-color: #d70a0a;
}
.content__rightbar__docs__size {
  font-weight: 300;
  font-size: 12px;
  color: #666;
  margin-bottom: 15px;
}
.content__rightbar__appfield {
  border: 1px solid #e5ecf5;
  padding: 5px 20px 10px 20px;
  margin: 20px 0px;
}
.content__rightbar__appfield h5 {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
}
.content__rightbar__appfield p {
  font-size: 14px;
  font-weight: 300;
}
.content__rightbar__mention {
  border: 1px solid #e5ecf5;
  margin: 20px 0px;
}
.content__rightbar__mention img {
  width: 100%;
}
.content__rightbar__mention h5 {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  margin: 13px 20px 7px 20px;
}
.content__rightbar__mention__text {
  font-size: 14px;
  font-weight: 300;
  color: #666;
  margin: 13px 20px 7px 20px;
}
.content__rightbar__mention__date {
  font-size: 12px;
  color: #999;
  font-weight: 300;
  margin: 13px 20px 7px 20px;
}
.content__other-items {
  padding-top: 50px;
}
.content__other-items figure {
  text-align: center;
}
.content__other-items figcaption {
  text-align: left;
}
.content__other-items__prev {
  text-align: left;
}
.content__other-items__prev__nav {
  padding-bottom: 20px;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  left: 0;
  top: 190px;
}
.content__other-items__prev__nav p {
  position: relative;
  text-align: left;
  margin-bottom: 0;
}
.content__other-items__prev__item {
  font-size: 12px;
  font-weight: 300;
}
.content__other-items__prev__item h5 {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
}
.content__other-items__next {
  text-align: left;
}
.content__other-items__next__nav {
  padding-bottom: 5px;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  right: 0;
  bottom: 0;
  position: absolute;
}
.content__other-items__next__nav p {
  position: relative;
  text-align: right;
  margin-bottom: 0;
}
.content__other-items__next__item {
  font-size: 12px;
  font-weight: 300;
}
.content__other-items__next__item h5 {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
}
.content__section-name h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 42px;
  color: black;
}
.content__section-item {
  display: block;
}
.content__section-item h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 25px;
  margin: 35px 0;
}
.content__section-item h2 a:link {
  text-decoration: none;
  color: #00489d;
  border-bottom: 1px solid;
  border-bottom-color: rgba(175, 201, 224, 0.3);
}
.content__section-group {
  display: block;
}
.content__section-group h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 25px;
  margin: 35px 0;
}
.content__section-group h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 15px 0;
}
.content__section-group h3 a:link {
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid;
  border-bottom-color: rgba(178, 178, 178, 0.3);
}
.content__section-group-item {
  margin: 10px 20px 10px 0;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: #00489d;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.content__section-group-item figcaption {
  width: 140px;
}
.content__section-group-item a:link {
  text-decoration: none;
  color: #00489d;
  border-bottom: 1px solid;
  border-bottom-color: rgba(175, 201, 224, 0.3);
}
.content__section-group-item-img {
  width: 140px;
  height: 140px;
  background-color: #e5e5e5;
}
.content__complex-main {
  position: relative;
  background-image: url(../img/main__complex__main.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 120px);
  color: #fff;
}
.content__complex-main__title h1 {
  font-weight: 100;
  font-size: 62px;
  text-align: center;
  line-height: 1.5;
  text-transform: uppercase;
  margin-top: 70px;
}
@media (max-width: 768px) {
  .content__complex-main__title h1 {
    margin-top: 50px;
    font-size: 59px;
  }
}
.content__complex-main__columns {
  background-color: rgba(102, 102, 102, 0.3);
  max-width: 100%;
  position: absolute;
  bottom: 0;
  padding-top: 30px;
}
.content__complex-main__columns__item h3 {
  display: inline;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px dotted #fff;
}
.content__complex-main__columns__item p {
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .content__complex-main__columns {
    padding-left: 0;
  }
}
.content__safe-drive {
  position: relative;
  background-image: url(../img/main__safe-drive.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  /*
		for a interactive picture:
		padding-top: 65px;
		&__image {
			padding-left: 50px;
			position: relative;
			img {
				width: 100%;
			}
			&__item {
				position: absolute;
				background-color: #fff;
				width: 260px;
				padding: 20px;
				box-shadow: 0 5px 10px rgba(0,0,0,0.1);
				h3 {
					font-size: 18px;
					font-weight: 700;
				}
				a:link {
					text-decoration: none;
					color: rgba(0, 72, 153, 1);
					border-bottom: 1px solid;
					border-bottom-color: rgba(175, 201, 224, 0.3);
				}
				p {
					color: #666;
				}
			}
			#marking {
				top: 10%;
				left: 17%;
			}
			#metalcon {
				top: 10%;
				right: 3%;
			}
			#roadsigns {
				top: 25%;
				left: 40%;
			}
			#organize {
				top: 53%;
				left: 25%;
			}
			#mastic {
				bottom: 7%;
				right: 15%;
			}
		}
		h1 {
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
			font-size: 42px;
			color: black;
		}
		*/
}
.content__safe-drive__title {
  position: absolute;
  top: 40px;
}
.content__safe-drive__title h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 42px;
  color: black;
}
@media (max-width: 768px) {
  .content__safe-drive__title {
    padding-left: 0;
  }
}
.content__group-company-geo {
  background-image: url(../img/main__group__pattern.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.content__group-company-geo h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 42px;
  color: black;
}
.content__group-company-geo h4 {
  font-size: 18px;
  font-weight: 300;
}
.content__group-company-geo p {
  font-size: 14px;
  color: #808080;
}
.content__group-company-geo__main p:nth-child(2) {
  font-size: 18px;
}
.content__group-company-geo__map {
  padding-bottom: 70px;
}
.content__group-company-geo__map ol {
  padding-left: 20px;
}
.content__group-company-geo__map li {
  margin: 10px 0px;
}
.content__group-company-geo__map img {
  float: right;
}
@media (max-width: 768px) {
  .content__group-company-geo__map img {
    position: center;
  }
}
.content__group-company-geo__offices {
  padding-left: 0;
  padding-right: 0;
}
.content__group-company-geo__offices h2 {
  color: #004899;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.content__group-company-geo__offices a:link {
  text-decoration: none;
  color: #00489d;
  border-bottom: 1px solid;
  border-bottom-color: rgba(175, 201, 224, 0.3);
}
.content__group-company-geo__offices-row__item {
  margin-top: 35px;
  height: 400px;
}
.content__main-news {
  background-color: #cedbec;
}
.content__main-news__title h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 300;
}
.content__main-news__feed__item {
  display: inline-block;
  padding-bottom: 20px;
  padding-left: 0;
  height: 400px;
}
.content__main-news__feed__item h3 {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 700;
}
.content__main-news__feed__item p {
  font-size: 14px;
  font-weight: 300;
  color: #666;
}
.content__main-news__feed__item time {
  font-size: 11px;
  font-weight: 400;
  color: #666;
}
.content__main-news__feed__item img {
  margin-top: 15px;
  width: 100%;
}
.content__single-shop__menu nav {
  max-width: 220px;
  border: 1px solid #e5ecf5;
}
.content__single-shop__menu nav ul {
  padding: 0;
}
.content__single-shop__menu nav ul li {
  border-left: 4px solid #ccdaeb;
  border-bottom: 1px solid #e5ecf5;
  display: table;
  list-style-type: none;
  height: 50px;
  width: 100%;
}
.content__single-shop__menu nav ul li a {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
.content__single-shop__content__slider img {
  width: 100%;
  height: auto;
}
.content__search {
  margin-top: 25px;
  height: 50px;
}
.content__search form {
  display: table;
  width: 100%;
}
.content__search form input[type="text"] {
  display: table-cell;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #5c6875;
  padding: 0 20px;
  width: 100%;
  background-color: #fafbfd;
  border: 1px solid #e5ecf5;
  height: 50px;
}
.content__search form input[type="text"]:focus {
  border-color: #7fa3cc;
  color: #000000;
}
.content__search form .content__search__button {
  cursor: pointer;
  text-align: center;
  display: table-cell;
  padding: 0;
  line-height: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #004899;
  font-size: 16px;
  text-transform: uppercase;
  height: 50px;
  width: 120px;
  border-radius: 30px;
  background-color: #dbe6f1;
  border-style: none;
}
.content__search form .content__search__button:hover {
  background-color: #004899;
  color: white;
}
.content__search__input {
  margin-right: 15px;
}
.content__manufactor-tag {
  margin-top: 20px;
}
.content__manufactor-tag li {
  cursor: pointer;
  padding: 0 6px;
  margin-right: 1px;
  height: 15px;
  line-height: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 10px;
  color: #000000;
  display: inline-block;
}
.content__manufactor-tag li p {
  border-bottom: 1px dotted black;
}
.content__manufactor-tag li:hover p {
  color: #e74c3c;
  border-color: #e74c3c;
}
.content__manufactor-tag li.active-tag:hover,
.content__manufactor-tag li.active-tag {
  border-radius: 3px;
  background-color: #004899;
  color: #ffffff;
}
.content__manufactor-tag li.active-tag:hover p,
.content__manufactor-tag li.active-tag p {
  color: #ffffff;
  border-style: none;
}
.content__manufactor {
  padding: 25px 15px;
  padding-top: 5px;
}
.content__manufactor > div {
  padding: 0;
}
.content__manufactor__tab {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 25px 20px;
  border: 1px solid #e5ecf5;
}
.content__manufactor__tab-img {
  display: block;
  margin-bottom: 20px;
}
.content__manufactor__tab h4 {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
}
.content__manufactor__tab h4 a {
  color: #000000;
  background: -webkit-linear-gradient(left, #b2b2b2, #b2b2b2 100%);
  background: linear-gradient(left, #b2b2b2, #b2b2b2 100%);
  background-position: 0 95%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}
.content__manufactor__tab h4 a:hover {
  text-decoration: none;
}
.content__manufactor__tab p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #666;
}
.content__manufactor__tab > ul {
  padding-left: 0;
}
.content__manufactor__tab li {
  margin-bottom: 20px;
  font-size: 14px;
  color: #004899;
  list-style: none;
}
.content__manufactor__tab li ul {
  margin-top: -10px;
}
.content__manufactor__tab li a {
  background: -webkit-linear-gradient(left, #b2c8e0, #b2c8e0 100%);
  background: linear-gradient(left, #b2c8e0, #b2c8e0 100%);
  background-position: 0 95%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}
.content__manufactor__tab li a:hover,
.content__manufactor__tab li a:focus,
.content__manufactor__tab li a:active {
  text-decoration: none;
}
.content__manufactor__tab li li {
  margin-bottom: 10px;
}
.content__manufactor__tab--form {
  box-shadow: 0px 18px 36px -12px rgba(0, 20, 43, 0.3);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 0;
  margin-top: 20px;
  border: 1px solid #e5ecf5;
}
.content__manufactor__tab--form h4 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 15px;
}
.content__manufactor__tab--form p {
  font-size: 14px;
  color: #666;
  margin: 0;
  margin-bottom: 25px;
}
.content__manufactor__tab--form textarea {
  padding: 20px;
  border: 1px solid #e5ecf5;
  width: 100%;
  height: 170px;
  background-color: #fafbfd;
  resize: none;
  margin-bottom: 10px;
}
.content__manufactor__tab--form textarea:focus {
  outline: none;
}
.content__manufactor__tab--form input[type="text"] {
  font-size: 14px;
  color: #5c6875;
  padding-left: 20px;
  width: 100%;
  height: 50px;
  border: 1px solid #e5ecf5;
  background-color: #fafbfd;
  margin-bottom: 35px;
}
.content__manufactor__tab--form__content {
  padding: 0 20px;
  padding-top: 25px;
}
.content__manufactor__tab--form__button {
  padding: 0;
  padding-left: 25px;
  padding-top: 20px;
  height: 110px;
  background-color: #e5ecf5;
}
.content__manufactor__tab--form__button input[type="submit"] {
  height: 50px;
  width: 160px;
  border-radius: 50px;
  border: 1px solid #a0bad9;
  background-color: #e5ecf5;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #004899;
  text-transform: uppercase;
}
.content__manufactor__column {
  padding: 0;
}
.content__manufactor__column:nth-child(1) {
  padding-right: 15px;
}
.content__manufactor__column:nth-child(2) {
  padding: 0 5px;
}
.content__manufactor__column:nth-child(3) {
  padding-left: 15px;
}
.content__bottom-block {
  padding: 0 15px;
  /*
        padding-bottom: 75px;
        padding-top: 25px;
        padding-left: 20px;
        */
}
.content__bottom-block > div {
  padding-bottom: 75px;
  padding-top: 25px;
  padding-left: 20px;
  background-image: url(../img/content__bottom-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.content__bottom-block > div h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
}
.content__bottom-block > div h4 a {
  color: #000000;
  background: -webkit-linear-gradient(left, #a9abaf, #a9abaf 100%);
  background: linear-gradient(left, #a9abaf, #a9abaf 100%);
  background-position: 0 95%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}
.content__bottom-block > div h4 a:hover {
  text-decoration: none;
}
.content__bottom-block > div ul {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding: 0;
}
.content__bottom-block > div ul li {
  list-style: none;
  margin-bottom: 20px;
}
.content__bottom-block > div ul li a {
  color: #004899;
  background: -webkit-linear-gradient(left, #a9c1dd, #a9c1dd 100%);
  background: linear-gradient(left, #a9c1dd, #a9c1dd 100%);
  background-position: 0 95%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}
.content__bottom-block > div ul li a:hover {
  text-decoration: none;
}
.content__news {
  margin-top: 40px;
  padding: 0 15px;
  padding-top: 0px;
}
.content__news h1 {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 300;
}
.content__news__pagination {
  text-align: center;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}
.content__news__pagination__end {
  height: 50px;
  width: 107px;
  display: inline-block;
  line-height: 50px;
  opacity: 0;
}
.content__news__pagination__start {
  font-family: 'Roboto Light', sans-serif;
  font-size: 16px;
  background-color: #fafbfd;
  width: 107px;
  line-height: 50px;
  margin-right: 10px;
  height: 50px;
  display: inline-block;
  border: 1px solid #e5ecf5;
}
.content__news__pagination__start a {
  color: #5c6875;
}
.content__news__pagination__start a:hover {
  text-decoration: none;
}
.content__news__pagination ul {
  font-size: 0;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.content__news__pagination ul li {
  background-color: #fafbfd;
  font-family: 'Roboto Light', sans-serif;
  font-size: 16px;
  border: 1px solid #e5ecf5;
  margin: 0;
  line-height: 50px;
  height: 50px;
  width: 50px;
  text-align: center;
  display: inline-block;
}
.content__news__pagination ul li a {
  color: #5c6875;
}
.content__news__pagination ul li a:hover {
  text-decoration: none;
}
.content__news__pagination ul li:not( :nth-child(1)) {
  border-left-style: none;
}
.content__news__more {
  margin-top: 30px;
  background-color: #fafbfd;
  text-align: center;
  height: 50px;
  line-height: 50px;
  border: 1px solid #e5ecf5;
  font-family: 'Roboto Light', sans-serif;
  font-size: 16px;
  color: #5c6875;
  cursor: pointer;
}
.content__news__item {
  margin-bottom: 20px;
  border: 1px solid #e5ecf5;
  padding: 0px;
  display: table;
  height: 200px;
}
.content__news__item__date {
  display: inline-block;
  font-family: 'Roboto Light', sans-serif;
  font-size: 12px !important;
  color: #999999 !important;
  line-height: 15px;
  margin-right: 20px !important;
}
.content__news__item__tags {
  background-color: red;
  display: inline-block;
  font-size: 10px !important;
  font-family: 'Roboto Light', sans-serif;
  text-transform: uppercase;
  line-height: 15px;
  padding: 0 5px;
  border-radius: 5px;
  margin-right: 7px !important;
}
.content__news__item .red {
  color: #e61e2a;
  background-color: #faeaeb;
}
.content__news__item .green {
  color: #198622;
  background-color: #e8f2da;
}
.content__news__item .blue {
  color: #0c55a3;
  background-color: #e2ebf4;
}
.content__news__item .purple {
  color: #70485a;
  background-color: #eae4e6;
}
.content__news__item .orange {
  color: #eb5c2c;
  background-color: #fef2e5;
}
.content__news__item__inner {
  padding: 25px 20px;
  padding-bottom: 15px;
  display: table-cell;
  vertical-align: top;
  position: relative;
}
.content__news__item__inner__img {
  display: table-cell;
  text-align: right;
}
.content__news__item__inner__top p {
  margin: 0;
}
.content__news__item__inner__bottom {
  position: absolute;
  bottom: 15px;
}
.content__news__item__inner__bottom p {
  margin: 0;
}
.content__news__item__inner h4 {
  font-family: 'Roboto Light', sans-serif;
  font-size: 18px;
}
.content__news__item__inner h4 a {
  color: #000000;
  text-decoration: none;
}
.content__news__item__inner h4 a:hover {
  text-decoration: none;
}
.content__news__item__inner p {
  font-family: 'Roboto Light', sans-serif;
  font-size: 14px;
  color: #666;
}
.grid {
  max-width: 1280px;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-sizer,
.grid-item {
  width: 30%;
  padding: 20px;
  float: left;
  margin-right: 20px;
}
footer .footer {
  border-bottom: 1px solid #e5ecf5;
  border-top: 1px solid #e5ecf5;
  margin: 30px 0px;
  height: 60px;
}
footer .footer__menu {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px;
  text-transform: uppercase;
}
footer .footer__menu li {
  margin-right: 40px;
  line-height: 60px;
  display: inline-block;
}
@media (max-width: 665px) {
  footer .footer__menu li {
    margin-right: 20px;
  }
}
@media (max-width: 585px) {
  footer .footer__menu li {
    margin-right: 60px;
  }
}
footer .footer__menu li a {
  color: #004899;
}
@media (max-width: 768px) {
  footer .footer__menu {
    display: none;
  }
}
footer .footer__menu__stable nav {
  padding-left: 0;
}
footer .footer__copyright {
  line-height: 60px;
}
footer .footer__copyright__briz {
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}
footer .footer__copyright__briz p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #4c4c4c;
  text-align: center;
}
@media (max-width: 768px) {
  footer .footer__copyright__briz p {
    text-align: left;
  }
}
@media (max-width: 578px) {
  footer .footer__copyright__briz p {
    line-height: 20px;
    width: 200px;
  }
}
@media (max-width: 768px) {
  footer .footer__copyright__briz {
    line-height: 20px;
    padding: 15px 0;
  }
}
@media (max-width: 480px) {
  footer .footer__copyright__briz {
    margin-right: 0;
    padding-right: 0;
  }
}
footer .footer__copyright__bureauit {
  line-height: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #4c4c4c;
  text-align: left;
  padding-right: 0;
  padding-left: 0;
}
@media (max-width: 768px) {
  footer .footer__copyright__bureauit {
    text-align: right;
    font-size: 12px;
    line-height: 20px;
    padding: 15px 0;
  }
}
@media (max-width: 578px) {
  footer .footer__copyright__bureauit {
    line-height: 20px;
    text-align: right;
  }
}
footer .footer__copyright__contacts {
  text-align: right;
  padding-right: 0;
}
footer .footer__copyright__contacts__fb {
  text-align: right;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  display: inline-block;
  line-height: 60px;
  margin-bottom: 0px;
  padding-right: 0;
}
footer .footer__copyright__contacts__fb img {
  margin-top: -3px;
  padding-right: 4px;
}
footer .footer__copyright__contacts__fb a:link {
  text-decoration: none;
  color: #004899;
}
@media (max-width: 480px) {
  footer .footer__copyright__contacts__fb {
    text-align: right;
    padding-left: 0;
  }
}
footer .footer__copyright__contacts__email {
  line-height: 60px;
  text-align: right;
  padding-right: 0;
  padding-left: 0;
}
footer .footer__copyright__contacts__email a:link {
  text-decoration: none;
  color: #4c4c4c;
}
footer .footer__copyright__contacts__email p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #4c4c4c;
  margin-bottom: 0px;
  display: inline-block;
}
footer .footer__copyright__contacts__email p:nth-child(1) {
  margin-right: 20px;
}
@media (max-width: 768px) {
  footer .footer__copyright__contacts__email {
    text-align: left;
  }
}
@media (max-width: 480px) {
  footer .footer__copyright__contacts__email p {
    margin-right: 0;
  }
}
@media (max-width: 480px) {
  footer .footer__copyright #ftel {
    padding-left: 10px;
  }
}
@media (max-width: 480px) {
  footer .footer__copyright .row {
    width: 100vw;
  }
}
